body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #242B3A;
  width: 100%;
  height: 100%;
}

*, *:after, *:before {
  box-sizing: border-box;
}

/*// Hex values:
// Orange - D45D3C
// Dark gray - 3F4549
// Medium gray - 67727A
// Light gray - ACB8BC
// Lightest gray - E6ECEE*/
