body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  background-color: rgb(183, 242, 224);
}

.content {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.page-title {
  font-size: 4.5em;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 20px;
}

.page {
  padding-bottom: 60px;
}

/*.viewport-slider-item {
  align-items: center;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.viewport-slider-button {
  border: 1px solid #333;
  color: #333;
  cursor: pointer;
  opacity: .5;
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity .35s;
}

.viewport-slider-button:hover {
  opacity: 1;
}

.viewport-slider-paginator {
  background-color: #ccc;
  border: 1px solid #fff;
  box-shadow: 0 0 2px #ccc;
}

.viewport-slider-paginator-bullet {
  background: #fff;
  cursor: pointer;
  opacity: .4;
  transition: opacity .35s;
}

.viewport-slider-paginator-bullet:hover {
  opacity: .6;
}

.viewport-slider-paginator-bullet.is-active {
  opacity: 1;
}*/

/*.has-overlay::after {
  content: '';
  background-color: #d5af86;
  left: 0;
  height: 100%;
  opacity: .7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.has-overlay > div {
  z-index: 2;
}

.love {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.love i {
  animation: heartbeat 1.6s ease 0s infinite normal;
  color: #de808c;
  font-size: 120px;
  margin-bottom: 40px;
}

.love iframe {
  margin-bottom: 10px;
}

.love iframe:last-child {
  margin-bottom: none;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}*/
